{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<title>{% block title %}Sign In{% endblock %}</title>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 500px;">
        <h3 class="card-title text-center mb-4">Welcome Back</h3>
        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-between mt-3">
                <button class="btn btn-success w-50 me-2" type="submit">Sign In</button>
                <a class="btn btn-warning w-50" href="{% url 'signup' %}">Don't have an account?</a>
            </div>

        </form>
    </div>
</div>

{% endblock %}
